<div class="flex gap-2 md:flex-row flex-col justify-center items-center">
  <select class="select" id="transaction-period" (change)="changeTransactionPeriod($event)">
    <option disabled selected>Pick a period</option>
    <option [value]="transactionPeriod.DAILY">Daily</option>
    <option [value]="transactionPeriod.WEEKLY">Weekly</option>
    <option [value]="transactionPeriod.MONTHLY">Monthly</option>
    <option [value]="transactionPeriod.YEARLY">Yearly</option>
  </select>
  <select class="select" id="category-filter" (change)="changeCategoryFilter($event)">
    <option value="">All</option>
    @for (category of categories(); track $index) {
    <option [value]="category.name">{{ category.name }}</option>
    }
  </select>
</div>
<div class="flex flex-col gap-4 justify-center items-center">
  <div class="tabs tabs-border flex justify-center items-center p-2">
    @for (tab of tabs(); track $index; let i = $index) {
    <ng-container>
      <input type="radio" class="tab" name="tab" (change)="activeTab = i" [checked]="activeTab === i"
        [attr.aria-label]="tab.label" (click)="activeTab = i" />
      @if (activeTab === i) {
      <div class="tab-content border-base-300 bg-base-100 p-4 min-w-60">
        @if (!tab.content.length) {
        <div class="flex justify-between items-center">
          <p>No transactions.</p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
          </svg>
        </div>
        } @else { @for (transaction of tab.content; track $index) {
        <div class="flex justify-between items-center">
          <div>
            <span class="badge"
              [ngClass]="{ 'badge-primary': checkBudgetLimit(transaction), 'badge-error': !checkBudgetLimit(transaction) }">{{
              transaction.amount }}</span>

            <p>{{ transaction.description }}</p>
          </div>
          <div>
            <p>{{ transaction.categoryDTO.name }}</p>
          </div>
        </div>
        <div class="divider"></div>
        } }
      </div>
      }
    </ng-container>
    }
  </div>
  <div class="join">
    <button class="join-item btn" [disabled]="disablePrevPage" (click)="prevPage()">
      «
    </button>
    <button class="join-item btn">{{ currentPage() }}</button>
    <button class="join-item btn" [disabled]="disableNextPage" (click)="nextPage()">
      »
    </button>
  </div>
</div>
<ag-charts [options]="options()" />