<div class="modal" [class.modal-open]="isOpen()">
  <div class="modal-box">
    <div class="flex items-center mb-4" [ngClass]="showCloseButton() ? 'justify-between' : 'justify-center'">
      @if (headingTemplate()) {
      <h3 class="text-lg font-bold w-full">
        <ng-container [ngTemplateOutlet]="headingTemplate()" />
      </h3>

      } @if (showCloseButton()) {
      <button class="btn btn-sm btn-circle btn-ghost" (click)="onCancel.emit()">
        ✕
      </button>
      }
    </div>

    <div class="py-4">
      <ng-container [ngTemplateOutlet]="contentTemplate()" />
    </div>

    <div class="modal-action">
      @if (actionsTemplate()) {
      <ng-container [ngTemplateOutlet]="actionsTemplate() ?? null" />
      }
    </div>
  </div>

  @if (closeWithBackdrop()) {
  <div class="modal-backdrop custom-backdrop" (click)="onCancel.emit()"></div>
  }
</div>